# 默认忽略的文件
/shelf/*
/workspace.xml
/Serial/*
/.idea/*
!/Serial/crc.py
!/Serial/myserial.py
!/Serial/testserial.py
!/Serial/smallserial.py
*.avi
*.jpg
*.pt
Location/.idea
Location/.github/
Location/.github
!map.jpg
!allmap.jpg
/result.jpg
/B1_48.jpg
/Location/runs/*
!/.gitignore
.idea
*/__pycache__/
/__pycache__/
Location/utils/__pycache__/
Location/models/__pycache__/
Serial/__pycache__/
Location/__pycache__/
Camera/__pycache__/
Location/utils/segment/__pycache__/
Location/utils/loggers/__pycache__/
Location/utils/loggers/wandb/__pycache__/
Location/utils/loggers/comet/__pycache__/
Location/utils/loggers/clearml/__pycache__/