# Name                    Version                   Build  Channel
absl-py                   1.1.0                    pypi_0    pypi
altgraph                  0.17.3                   pypi_0    pypi
anyio                     3.6.2                    pypi_0    pypi
appdirs                   1.4.4                    pypi_0    pypi
asttokens                 2.2.1              pyhd8ed1ab_0    conda-forge
astunparse                1.6.3                    pypi_0    pypi
attrs                     21.4.0                   pypi_0    pypi
automium                  0.2.6                    pypi_0    pypi
automium-web              0.1.1                    pypi_0    pypi
backcall                  0.2.0              pyh9f0ad1d_0    conda-forge
backports                 1.0                pyhd8ed1ab_3    conda-forge
backports.functools_lru_cache 1.6.4              pyhd8ed1ab_0    conda-forge
blas                      1.0                         mkl    https://mirrors.tuna.tsinghua.edu.cn/anaconda/pkgs/main
brotli                    1.0.9                h2bbff1b_7    https://mirrors.tuna.tsinghua.edu.cn/anaconda/pkgs/main
brotli-bin                1.0.9                h2bbff1b_7    https://mirrors.tuna.tsinghua.edu.cn/anaconda/pkgs/main
brotlipy                  0.7.0           py38h2bbff1b_1003    https://mirrors.tuna.tsinghua.edu.cn/anaconda/pkgs/main
ca-certificates           2022.12.7            h5b45459_0    conda-forge
cachetools                5.2.0                    pypi_0    pypi
certifi                   2021.10.8                pypi_0    pypi
cffi                      1.15.0           py38h2bbff1b_1    https://mirrors.tuna.tsinghua.edu.cn/anaconda/pkgs/main
charset-normalizer        2.0.4              pyhd3eb1b0_0    https://mirrors.tuna.tsinghua.edu.cn/anaconda/pkgs/main
click                     8.1.2                    pypi_0    pypi
colorama                  0.4.5                    pypi_0    pypi
crcmod                    1.7                      pypi_0    pypi
cryptography              37.0.1           py38h21b164f_0    https://mirrors.tuna.tsinghua.edu.cn/anaconda/pkgs/main
cudatoolkit               11.3.1               h59b6b97_2    https://mirrors.tuna.tsinghua.edu.cn/anaconda/pkgs/main
cvzone                    1.5.6                    pypi_0    pypi
cycler                    0.11.0             pyhd3eb1b0_0    https://mirrors.tuna.tsinghua.edu.cn/anaconda/pkgs/main
debugpy                   1.5.1            py38hd77b12b_0    https://mirrors.tuna.tsinghua.edu.cn/anaconda/pkgs/main
decorator                 5.1.1              pyhd8ed1ab_0    conda-forge
easydict                  1.9                      pypi_0    pypi
executing                 1.2.0              pyhd8ed1ab_0    conda-forge
flask                     2.2.2                    pypi_0    pypi
flatbuffers               22.10.26                 pypi_0    pypi
fonttools                 4.34.4                   pypi_0    pypi
freetype                  2.10.4               hd328e21_0    https://mirrors.tuna.tsinghua.edu.cn/anaconda/pkgs/main
future                    0.18.2                   pypi_0    pypi
gast                      0.4.0                    pypi_0    pypi
geos                      3.8.0                h33f27b4_0    https://mirrors.tuna.tsinghua.edu.cn/anaconda/pkgs/main
google-auth               2.11.0                   pypi_0    pypi
google-auth-oauthlib      0.4.6                    pypi_0    pypi
google-pasta              0.2.0                    pypi_0    pypi
graphsurgeon              0.4.5                    pypi_0    pypi
grpcio                    1.47.0                   pypi_0    pypi
h11                       0.12.0                   pypi_0    pypi
h5py                      3.7.0                    pypi_0    pypi
httpcore                  0.14.7                   pypi_0    pypi
httpx                     0.22.0                   pypi_0    pypi
icu                       58.2                 ha925a31_3    https://mirrors.tuna.tsinghua.edu.cn/anaconda/pkgs/main
idna                      3.3                pyhd3eb1b0_0    https://mirrors.tuna.tsinghua.edu.cn/anaconda/pkgs/main
imageio                   2.22.4                   pypi_0    pypi
imgviz                    1.7.2                    pypi_0    pypi
importlib-metadata        4.12.0                   pypi_0    pypi
importlib_metadata        6.6.0                hd8ed1ab_0    conda-forge
imutils                   0.5.4                    pypi_0    pypi
intel-openmp              2021.4.0          haa95532_3556    https://mirrors.tuna.tsinghua.edu.cn/anaconda/pkgs/main
ipykernel                 6.15.0             pyh025b116_0    conda-forge
ipython                   8.12.0             pyh08f2357_0    conda-forge
iso8601                   1.0.2                    pypi_0    pypi
itsdangerous              2.1.2                    pypi_0    pypi
jedi                      0.18.2             pyhd8ed1ab_0    conda-forge
jinja2                    3.1.2                    pypi_0    pypi
jpeg                      9e                   h2bbff1b_0    https://mirrors.tuna.tsinghua.edu.cn/anaconda/pkgs/main
jupyter_client            8.2.0              pyhd8ed1ab_0    conda-forge
jupyter_core              5.3.0            py38haa244fe_0    conda-forge
keras                     2.10.0                   pypi_0    pypi
keras-preprocessing       1.1.2                    pypi_0    pypi
kiwisolver                1.4.4                    pypi_0    pypi
labelme                   5.2.0.post4              pypi_0    pypi
legacy                    0.1.6                    pypi_0    pypi
libbrotlicommon           1.0.9                h2bbff1b_7    https://mirrors.tuna.tsinghua.edu.cn/anaconda/pkgs/main
libbrotlidec              1.0.9                h2bbff1b_7    https://mirrors.tuna.tsinghua.edu.cn/anaconda/pkgs/main
libbrotlienc              1.0.9                h2bbff1b_7    https://mirrors.tuna.tsinghua.edu.cn/anaconda/pkgs/main
libclang                  14.0.6                   pypi_0    pypi
libpng                    1.6.37               h2a8f88b_0    https://mirrors.tuna.tsinghua.edu.cn/anaconda/pkgs/main
libprotobuf               3.20.3               h23ce68f_0    https://mirrors.tuna.tsinghua.edu.cn/anaconda/pkgs/main
libsodium                 1.0.18               h8d14728_1    conda-forge
libtiff                   4.2.0                he0120a3_1    https://mirrors.tuna.tsinghua.edu.cn/anaconda/pkgs/main
libuv                     1.40.0               he774522_0    https://mirrors.tuna.tsinghua.edu.cn/anaconda/pkgs/main
libwebp                   1.2.2                h2bbff1b_0    https://mirrors.tuna.tsinghua.edu.cn/anaconda/pkgs/main
loguru                    0.6.0                    pypi_0    pypi
lz4-c                     1.9.3                h2bbff1b_1    https://mirrors.tuna.tsinghua.edu.cn/anaconda/pkgs/main
mako                      1.2.4                    pypi_0    pypi
markdown                  3.4.1                    pypi_0    pypi
markdown-it-py            2.2.0                    pypi_0    pypi
markupsafe                2.1.1                    pypi_0    pypi
matplotlib                3.5.2            py38haa95532_0    https://mirrors.tuna.tsinghua.edu.cn/anaconda/pkgs/main
matplotlib-base           3.5.2            py38hd77b12b_0    https://mirrors.tuna.tsinghua.edu.cn/anaconda/pkgs/main
matplotlib-inline         0.1.6              pyhd8ed1ab_0    conda-forge
mdurl                     0.1.2                    pypi_0    pypi
mediapipe                 0.8.10.1                 pypi_0    pypi
mkl                       2021.4.0           haa95532_640    https://mirrors.tuna.tsinghua.edu.cn/anaconda/pkgs/main
mkl-service               2.4.0            py38h2bbff1b_0    https://mirrors.tuna.tsinghua.edu.cn/anaconda/pkgs/main
mkl_fft                   1.3.1            py38h277e83a_0    https://mirrors.tuna.tsinghua.edu.cn/anaconda/pkgs/main
mkl_random                1.2.2            py38hf11a4ad_0    https://mirrors.tuna.tsinghua.edu.cn/anaconda/pkgs/main
munkres                   1.1.4                      py_0    https://mirrors.tuna.tsinghua.edu.cn/anaconda/pkgs/main
natsort                   8.3.1                    pypi_0    pypi
nest-asyncio              1.5.6              pyhd8ed1ab_0    conda-forge
numpy                     1.22.3           py38h7a0a035_0    https://mirrors.tuna.tsinghua.edu.cn/anaconda/pkgs/main
numpy-base                1.22.3           py38hca35cd5_0    https://mirrors.tuna.tsinghua.edu.cn/anaconda/pkgs/main
oauthlib                  3.2.0                    pypi_0    pypi
olefile                   0.46               pyhd3eb1b0_0    https://mirrors.tuna.tsinghua.edu.cn/anaconda/pkgs/main
onnx                      1.13.0           py38h9724e47_0    https://mirrors.tuna.tsinghua.edu.cn/anaconda/pkgs/main
onnx-graphsurgeon         0.3.12                   pypi_0    pypi
onnxsim                   0.4.19                   pypi_0    pypi
opencv-contrib-python     4.5.5.64                 pypi_0    pypi
opencv-python             4.6.0.66                 pypi_0    pypi
openssl                   1.1.1t               h2bbff1b_0    https://mirrors.tuna.tsinghua.edu.cn/anaconda/pkgs/main
opt-einsum                3.3.0                    pypi_0    pypi
packaging                 21.3                     pypi_0    pypi
pandas                    1.4.3                    pypi_0    pypi
parso                     0.8.3              pyhd8ed1ab_0    conda-forge
pefile                    2023.2.7                 pypi_0    pypi
pickleshare               0.7.5                   py_1003    conda-forge
pillow                    8.2.0            py38h4fa10fc_0    https://mirrors.tuna.tsinghua.edu.cn/anaconda/pkgs/main
pip                       21.2.2           py38haa95532_0    https://mirrors.tuna.tsinghua.edu.cn/anaconda/pkgs/main
platformdirs              2.5.2            py38haa95532_0    https://mirrors.tuna.tsinghua.edu.cn/anaconda/pkgs/main
prompt-toolkit            3.0.38             pyha770c72_0    conda-forge
prompt_toolkit            3.0.38               hd8ed1ab_0    conda-forge
protobuf                  3.19.4                   pypi_0    pypi
psutil                    5.9.0            py38h2bbff1b_0    https://mirrors.tuna.tsinghua.edu.cn/anaconda/pkgs/main
pure_eval                 0.2.2              pyhd8ed1ab_0    conda-forge
pyasn1                    0.4.8                    pypi_0    pypi
pyasn1-modules            0.2.8                    pypi_0    pypi
pycocotools               2.0.4                    pypi_0    pypi
pycparser                 2.21               pyhd3eb1b0_0    https://mirrors.tuna.tsinghua.edu.cn/anaconda/pkgs/main
pycuda                    2022.2.2                 pypi_0    pypi
pydantic                  1.9.0                    pypi_0    pypi
pygments                  2.15.0                   pypi_0    pypi
pyinstaller               5.10.1                   pypi_0    pypi
pyinstaller-hooks-contrib 2023.2                   pypi_0    pypi
pyopenssl                 22.0.0             pyhd3eb1b0_0    https://mirrors.tuna.tsinghua.edu.cn/anaconda/pkgs/main
pyparsing                 3.0.9            py38haa95532_0    https://mirrors.tuna.tsinghua.edu.cn/anaconda/pkgs/main
pypdf2                    2.9.0                    pypi_0    pypi
pyqt                      5.9.2            py38hd77b12b_6    https://mirrors.tuna.tsinghua.edu.cn/anaconda/pkgs/main
pyserial                  3.5                      pypi_0    pypi
pysocks                   1.7.1            py38haa95532_0    https://mirrors.tuna.tsinghua.edu.cn/anaconda/pkgs/main
python                    3.8.13               h6244533_0    https://mirrors.tuna.tsinghua.edu.cn/anaconda/pkgs/main
python-dateutil           2.8.2              pyhd3eb1b0_0    https://mirrors.tuna.tsinghua.edu.cn/anaconda/pkgs/main
python_abi                3.8                      2_cp38    conda-forge
pytools                   2022.1.14                pypi_0    pypi
pytorch                   1.11.0          py3.8_cuda11.3_cudnn8_0    pytorch
pytorch-mutex             1.0                        cuda    pytorch
pytz                      2022.1           py38haa95532_0    https://mirrors.tuna.tsinghua.edu.cn/anaconda/pkgs/main
pywin32                   305              py38h2bbff1b_0    https://mirrors.tuna.tsinghua.edu.cn/anaconda/pkgs/main
pywin32-ctypes            0.2.0                    pypi_0    pypi
pyyaml                    6.0                      pypi_0    pypi
pyzmq                     23.2.0           py38hd77b12b_0    https://mirrors.tuna.tsinghua.edu.cn/anaconda/pkgs/main
qt                        5.9.7            vc14h73c81de_0    https://mirrors.tuna.tsinghua.edu.cn/anaconda/pkgs/main
qtpy                      2.3.1                    pypi_0    pypi
reportlab                 3.6.11                   pypi_0    pypi
requests                  2.27.1             pyhd3eb1b0_0    https://mirrors.tuna.tsinghua.edu.cn/anaconda/pkgs/main
requests-oauthlib         1.3.1                    pypi_0    pypi
ret                       0.1.4                    pypi_0    pypi
rfc3986                   1.5.0                    pypi_0    pypi
rich                      13.3.4                   pypi_0    pypi
rsa                       4.9                      pypi_0    pypi
scipy                     1.9.0                    pypi_0    pypi
seaborn                   0.11.2                   pypi_0    pypi
serial                    0.0.97                   pypi_0    pypi
setuptools                61.2.0           py38haa95532_0    https://mirrors.tuna.tsinghua.edu.cn/anaconda/pkgs/main
shapely                   1.7.1            py38h06580b3_0    https://mirrors.tuna.tsinghua.edu.cn/anaconda/pkgs/main
sip                       4.19.13          py38hd77b12b_0    https://mirrors.tuna.tsinghua.edu.cn/anaconda/pkgs/main
six                       1.12.0                py38_1000    https://mirrors.tuna.tsinghua.edu.cn/anaconda/pkgs/main
sniffio                   1.3.0                    pypi_0    pypi
sqlite                    3.38.3               h2bbff1b_0    https://mirrors.tuna.tsinghua.edu.cn/anaconda/pkgs/main
stack_data                0.6.2              pyhd8ed1ab_0    conda-forge
stereo                    0.1.2                    pypi_0    pypi
tensorboard               2.10.0                   pypi_0    pypi
tensorboard-data-server   0.6.1                    pypi_0    pypi
tensorboard-plugin-wit    1.8.1                    pypi_0    pypi
tensorflow                2.10.0                   pypi_0    pypi
tensorflow-estimator      2.10.0                   pypi_0    pypi
tensorflow-io-gcs-filesystem 0.27.0                   pypi_0    pypi
tensorrt                  8.2.0.6                  pypi_0    pypi
termcolor                 2.1.0                    pypi_0    pypi
thop                      0.1.1-2209141847          pypi_0    pypi
tk                        8.6.11               h2bbff1b_1    https://mirrors.tuna.tsinghua.edu.cn/anaconda/pkgs/main
torchaudio                0.11.0               py38_cu113    pytorch
torchvision               0.12.0               py38_cu113    pytorch
tornado                   6.2              py38h2bbff1b_0    https://mirrors.tuna.tsinghua.edu.cn/anaconda/pkgs/main
tqdm                      4.64.0                   pypi_0    pypi
traitlets                 5.9.0              pyhd8ed1ab_0    conda-forge
typing-extensions         4.1.1                hd3eb1b0_0    https://mirrors.tuna.tsinghua.edu.cn/anaconda/pkgs/main
typing_extensions         4.1.1              pyh06a4308_0    https://mirrors.tuna.tsinghua.edu.cn/anaconda/pkgs/main
uff                       0.6.9                    pypi_0    pypi
urllib3                   1.26.9           py38haa95532_0    https://mirrors.tuna.tsinghua.edu.cn/anaconda/pkgs/main
vc                        14.2                 h21ff451_1    https://mirrors.tuna.tsinghua.edu.cn/anaconda/pkgs/main
vs2015_runtime            14.27.29016          h5e58377_2    https://mirrors.tuna.tsinghua.edu.cn/anaconda/pkgs/main
wcwidth                   0.2.6              pyhd8ed1ab_0    conda-forge
werkzeug                  2.2.2                    pypi_0    pypi
wheel                     0.37.1             pyhd3eb1b0_0    https://mirrors.tuna.tsinghua.edu.cn/anaconda/pkgs/main
win32-setctime            1.1.0                    pypi_0    pypi
win_inet_pton             1.1.0            py38haa95532_0    https://mirrors.tuna.tsinghua.edu.cn/anaconda/pkgs/main
wincertstore              0.2              py38haa95532_2    https://mirrors.tuna.tsinghua.edu.cn/anaconda/pkgs/main
wrapt                     1.14.1                   pypi_0    pypi
xz                        5.2.5                h8cc25b3_1    https://mirrors.tuna.tsinghua.edu.cn/anaconda/pkgs/main
zeromq                    4.3.4                h0e60522_1    conda-forge
zipp                      3.8.1                    pypi_0    pypi
zlib                      1.2.13               h8cc25b3_0    https://mirrors.tuna.tsinghua.edu.cn/anaconda/pkgs/main
zstd                      1.5.2                h19a0ad4_0    https://mirrors.tuna.tsinghua.edu.cn/anaconda/pkgs/main